  form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  
  form.example button {
    float: left;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }
  
  form.example button:hover {
    background: #0b7dda;
  }
  
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }

  .card { 
    width: 400px;
    height: 600px;
    text-indent: -9999px;
    margin-left: 560px;
    margin-top: 50px;
    margin-bottom:10px;
    font-family: sans-serif;
  }

  .card:hover {
    content: url(images/Cardback.jpg);
  }

.imagine {
    position: absolute;
    left: 612px;
    margin-right: 100px;
    margin-top: 130px;
    width: 310px;
    height: 220px;
}

div {
    position: absolute;
    margin-left: 600px;
    margin-right: 830px;
    top: 420px;
}


